<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container__2">
        <div class="logo2">ERROR</div>
    </div>
    <div class="container__2" style="height: 50%;">
        <div class="error_out"><pre>{{.ErrorCode}}{{.ErrorText}}</pre></div>
    </div>
    <div class="container__2" style="height: 30%;">
        <a href="/"> 
            <div class="btn">back</div>
        </a>
    </div>
</body>
</html>